*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
p,h3{
    font-size: 20px;
    color: #B5B5B5;
    text-align: justify;
}

/* start nav section css */

nav ul{
    list-style-type: none;
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    float: left;
    color:#454545;
    font-size: 20px;
    padding: 35px 15px;
    font-weight: 700;
}
/* end nav section css */

/* start mid section css */
#color_text{
    color: #FB7462;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section img{
    max-width: 100%;
}
#left_side{
    margin-top: 170px;
}
#right_side{
    margin-top: 120px;
}
.btn{
    background: linear-gradient(45deg, lightsalmon, tomato);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #454545;
    line-height: 60px;
    font-size: 20px;
}

/* end mid section css */
/* start work section */

